#
# Requirements for wger for production
#

bleach
django-bootstrap-breadcrumbs
django-bower
django-formtools
django-recaptcha==1.0.6
django-sortedm2m
django==2.2.10
django_compressor
django_mobile
easy-thumbnails
icalendar
invoke
pillow
python-mimeparse
reportlab>=3.3,<3.4
requests
setuptools
sphinx

# REST API
django-cors-headers
django-filter
django-tastypie
djangorestframework

# Python3 compatibility
six
django_user_agents